//
// initial
//
$waseda-color: maroon;
$sakura-color: #FCF5F7;

img { max-width: 100%; }
h1, h2, h3, h4, h5, h6 { margin-top: 0; }


//
// header
//
header {
  text-align: center;
  color: $waseda-color;
  font-weight: bold;
  font-size: 1.5em;
  margin-block-start: 0px;
  margin-block-end: 0px;

  .header-inner {
    display: flex;
    justify-content: center;  // 全体を中央寄せにする
    align-items: center;
    position: relative;  // 右寄せのための基準位置を設定
    .center {
      flex-grow: 1;
      text-align: center;
    }
    .right {
      position: absolute;
      right: 0;  // 右端に配置
    }
    #instagram {
      height: 20px;  // Logoの高さに合わせるために最大の高さを設定
    }
    #logo {
      height: auto; // 高さを元のサイズに合わせる
    }
  }

  p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-bottom: 10px;
    font-size: 0.8em;
  }
}

.header-logo {
  width: 100%;
}

#main_visual {
  width: 100%;
  height: auto;

  p {
    margin-block-start: 0;
  }
}


#global_navi {
  overflow: hidden;
  border-top   : solid 2px white;
  border-bottom: solid 1px white;
  padding-bottom: 5px;
  background-color: $waseda-color;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 100px;
      float: left;
      margin-right: 1px;
      text-align: center;
    }

    li a {
      color: white;
      text-decoration: none;
      font-size: 0.7em;
    }

    li.current a{
      text-decoration: underline;
    }

    li a:hover {
      text-decoration: underline;
    }
  }
}


@media screen and (min-width: 768px) {

  // nothing so far...

}



//
// body
//
h2 {
  padding: 0.3em;
  background: $sakura-color;
  border-left: solid 5px $waseda-color;
}

#markdown-toc {
  width: 50%;
  background: $sakura-color;
  margin-block-end: 30px;
}



//
// footer
//
footer {
  background-color: $waseda-color;
  text-align: center;

  small {
    display: block;
    padding: 8px 0;
    color: white;
  }
}



//
// for slide show
//
.img-frame{
   position: relative;
   width: 70%;
   height: 0;
   padding-bottom: 70% * 0.56; /* 70% * 56.25% 16:9 アスペクト比 */
   overflow: hidden;
   margin: 0 auto;
}
@media screen and (max-width: 767px){
.img-frame{
   width: 100%;
   padding-bottom: 100% * 0.56; /* 70% * 56.25% 16:9 アスペクト比 */
}
}
.img-01, .img-02, .img-03, .img-04{
   position: absolute;
   top:0;
   left:0;
   width: 100%;
}
.img-01 {
 animation: slide-animation-01 24s infinite;
}
.img-02 {
 animation: slide-animation-02 24s infinite;
}
.img-03 {
 animation: slide-animation-03 24s infinite;
}
.img-04 {
 animation: slide-animation-04 24s infinite;
}
@keyframes slide-animation-01 {
   0% {opacity: 1; transform: scale(1.0);}
  25% {opacity: 1;}
  30% {opacity: 0; transform: scale(1.1);}
  95% {opacity: 0;}
 100% {opacity: 1; transform: scale(1.0);}
}
@keyframes slide-animation-02 {
   0% {opacity: 0;}
  25% {opacity: 0; transform: scale(1.1);}
  30% {opacity: 1;}
  50% {opacity: 1;}
  55% {opacity: 0; transform: scale(1.0);}
 100% {opacity: 0;}
}
@keyframes slide-animation-03 {
   0% {opacity: 0;}
  50% {opacity: 0; transform: scale(1.0);}
  55% {opacity: 1;}
  75% {opacity: 1;}
  80% {opacity: 0; transform: scale(1.1);}
 100% {opacity: 0;}
}
@keyframes slide-animation-04 {
   0% {opacity: 0;}
  75% {opacity: 0; transform: scale(1.1);}
  80% {opacity: 1;}
  95% {opacity: 1;}
 100% {opacity: 0; transform: scale(1.0);}
}
